{block title}{_'Sign Up'}{/block}

{block content}
	<h2>{include #title}</h2>
	{control signUpForm}
	<ul class="unstyled">
		<li><a n:href="Sign:in" class="sign-in">{_"Sign in"}</a></li>
	</ul>
{/block}
