#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	includes:
		# web resource management and its assets
		- ../../libs/mishak/web-resource-management/config.neon
		- ../../libs/mishak/wrm-jquery/config.neon
		- ../../libs/mishak/wrm-bootstrap/config.neon
		# modules
		- ../HarvestModule/config.neon
		- ../UserModule/config.neon
		- ../AdminModule/config.neon
		- ../WadminModule/config.neon


	parameters:
		name: WebArchiv NK - Sklizně
		secured: TRUE

		navigation:
			homepage: { label: %name%, link: ':Harvest:Browse:' }
			items:

		libsDir: %appDir%/../libs

		locale:
			default: cs_CZ
			available:
				- cs_CZ
				- en_US
			translations:
				cs_CZ: cs
				en_US: en
			icons:
				cs_CZ: cz
				en_US: gb

		user:
			session:
				remember-me: '+ 14 days'
			after:
				sign-in: ':Harvest:Browse:'

		database:
			default:
				driver: mysql
				autowired: TRUE


	php:
		date.timezone: Europe/Prague
		max_execution_time: 0
		# zlib.output_compression: yes

	nette:
		application:
			errorPresenter: Error

		database:
			default:
				dsn: '%database.default.driver%:host=%database.default.host%;dbname=%database.default.dbname%'
				user: %database.default.user%
				password: %database.default.password%
				options: [
					PDO::MYSQL_ATTR_INIT_COMMAND = 'SET NAMES "UTF8"'
				]
				autowired: TRUE

		session:
			expiration: 14 days


	services:
		routerFactory: RouterFactory(%locale%, %secured%)
		router: @routerFactory::createRouter

		database: @Nette\Database\Connection

		modelManager: Model\Manager

		translation: Translation

		translator: @translation

		formFactory: FormFactory


	factories:


	resources:
		scripts:
			main:
				filename: %wwwDir%/js/main.js
				depends: jquery
			bootstrap.forms:
				filename: %wwwDir%/js/bootstrap.forms.js
				depends: bootstrap
			bootstrap.netteForms:
				filename: %wwwDir%/js/bootstrap.netteForms.js
				depends: netteForms

		styles:
			screen:
				filename: %wwwDir%/css/screen.css
				media: screen
			bootstrap.fixes:
				filename: %wwwDir%/css/bootstrap-fixes.css
				depends: bootstrap
			bootstrap.adjustments:
				filename: %wwwDir%/css/bootstrap-adjustments.css
				depends: [ bootstrap, bootstrap.fixes ]
			icon.lang:
				filename: %wwwDir%/css/icon-lang.css
				depends: bootstrap
			print:
				filename: %wwwDir%/css/print.css
				media: print


production < common:

development < common:
