{layout ../../templates/@layout.latte}

{block content}
	<div class="row">
		<div class="span3">
			{control menu}
		</div>
		<div class="span9" n:ifset="#admin">
			{include #admin}
		</div>
	</div>
{/block}